.ss-app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ss-sidenav-container {
  flex: 1;
  overflow: hidden;
}

mat-sidenav {
  border-right: none !important;
  overflow: hidden !important;
}

mat-sidenav-content {
  background-color: var(--ss-surface-primary);
}
