@if (authService.isAuthenticated()) {
  <div class="ss-app-container">
    <app-toolbar
      (toggleSidenav)="onToggleSidenav()"
      (toggleTheme)="onToggleTheme()"
      (newTicketClicked)="onNewTicket()"
      (logoutClicked)="onLogout()">
    </app-toolbar>
    <mat-sidenav-container class="ss-sidenav-container" autosize>
      <mat-sidenav mode="side" [opened]="true" [disableClose]="true"
        [style.width]="sidenavCollapsed() ? '56px' : '240px'"
        [style.min-width]="sidenavCollapsed() ? '56px' : '240px'"
        [style.max-width]="sidenavCollapsed() ? '56px' : '240px'">
        <app-sidenav [collapsed]="sidenavCollapsed()"></app-sidenav>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
} @else {
  <router-outlet></router-outlet>
}
